<div class="dashboard-container"> 
	<h1>Dashboard </h1>
	<p> Welcome to the dashboard. From here you can take a preview of how your site will look.</p> 

	<h2>Preview</h2>
	<div class="userapp-container bodystyle">
		<user-app app="app" style=""></user-app>	
	</div> 

	<div>
		<button class="btn btn-primary" ng-click="showApp()">Full Preview</button>  
		<button class="btn btn-primary" ng-click="showHtml()">Get HTML</button> </br>
		<h3>Testing Tools</h3>
		<button class="btn btn-primary" ng-click="addComponent()">Add Component</button>  
		<button class="btn btn-primary" ng-click="changeStyle()">Change Style</button>
	</div>
</div> 
